<div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-info mb-2">
        <a class="navbar-brand" href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                <!-- AngularCRUD INSERT ROUTE LINK -->

            </div>
        </div>
    </nav>

    <router-outlet></router-outlet>
    <div class="mt-3 mb-4 text-secondary">
        <a href="https://github.com/AlexStack/Angular2-CRUD-Generator-with-Laravel-RESTful-API-Demo/issues" target="_blank" class="text-dark">Please click here to ask for help or report issues</a>. Don't forget give me a star to encourage me to continue improve this AngularCRUD code generator. Thank you very much!
    </div>
</div>
